.hero{
    display: flex;
    justify-content: flex-end;
    gap: 7rem;
    height: 40px;
}
.right_content img{
    height: 37rem;
    /* margin-right: -4rem; */
}

.left_content{
    margin-top: 6rem;
}
.wellcome_text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 2.5rem;
    /* margin-top: 3rem; */
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 1rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.inputs input{
    height: 2rem;
    display: grid;
    width: 19rem;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
.btn3{
    margin-top: 14px;
    height: 2rem;
    color: white;
    background-color: #f48023;
    border: none;
    margin-bottom: 12px;
}
.spanText{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    gap: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.link{
    color: black;
    text-decoration: none;
    margin-left: -2.5rem;
}

@media (min-width: 1023px){
    .hero{
        width: 90%;

        display: flex;
        justify-content: flex-end;
        gap: 7rem;
        margin-left: 7rem;
        height: 40px;
    }
    .right_content img{
        margin-top: 4rem;
        height: 29rem;
    }
    .left_content{
        margin-top: 6rem;
    }
    .wellcome_text{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 1.8rem;
        /* margin-top: 3rem; */
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 1rem;
    }
}
@media (max-width:720px){
    .hero{
        width: 70%;
    }
}
@media (min-width: 1500px){
    .hero{
        width: 70%;
    }
}
@media (max-width: 1022px){
    .hero{
        width: 70%;
    }
}