.input{
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;

}
.input input{
    height: 30px;
}
.container{
    position: relative;
    top: 10rem;
    display: grid;
    gap: 2.5rem;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn4{
    font-family: Arial, Helvetica, sans-serif;
    height: 2rem;
    color: white;
    background-color: #f48023;
    border: none;
}